<% provide(:title, "About") %>

<div class="page-heading text-center">
    <div class="container-fliud zoomIn animated">
      <h3>ABOUT US <span class="title-under"></span></h3>
      <h4 class="page-description">
       It's all up to you to make your dreams viable.
      </h4>
      <h4 class="page-description">
        Our contribution is through <em>education</em>
      </h4>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3>The Paranormalminds Story</h3>

      <div class="container">
        <div class="row">
          <div class="col-md-12 underline">
            <hr>
          </div>
        </div>
      </div>

      <p>
        Paranormalminds was started by three undergraduates students who experienced the difficulties in surviving
        their first year in varsity. By the end of their first year, they decided to solve this problem.

        We offer learning resources to learners in high school from under-privileged background.
        Through our community platform, mentors, tutors, and other private qualified entities
        invest in tomorrow's leaders ensuring a brighter future for a black child.

        We dont believe in education, but the knowledge and skill one gets from it because <em>education is what
        remains after one has forgotten what one has learned in school.</em>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3>Meet Our Team!</h3>
    </div>
  </div>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 underline">
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row profile-thumbnail">
    <div class="col-md-4 b1">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Ncheeta Morero</h4>
      <h5>-COO- Asst. Director Operations </h5>
      <p>Mechanical Engineering at University of Witwatersrand.<br/></p>

      <h3 class="title-style-1"><span class="title-under"></span></h3>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>


    <div class="col-md-4">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Wilson Makoae</h4>
      <h5>Founder and CEO</h5>
      <p>Mechanical Engineering at University of Witwatersrand.<br/></p>

      <h3 class="title-style-1"><span class="title-under"></span></h3>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>


    <div class="col-md-4 b3">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Ndivho Maginya</h4>
      <h5>-CFO- Asst. Director Finance</h5>
      <p>Mechanical Engineering at University of Witwatersrand.<br/></p>

      <h3 class="title-style-1"><span class="title-under"></span></h3>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row team">
    <div class="col-md-4 b1">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Victor Qenehelo</h4>
      <h5>-COO- Asst. Director Marketing</h5>
      <p>Mechanical Engineering at University of Witwatersrand.<br/></p>

      <h3 class="title-style-1"><span class="title-under"></span></h3>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>

    <div class="col-md-4 b3">
      <img class="img-responsive" src="<%= image_url('profiles/team-female-profile-holder.jpg') %>">
      <h4>Rachel Monyai</h4>
      <h5>-COO- Asst. Director Finance</h5>
      <p>Finance in Accounting at University of Cape Town.<br/></p>

      <h3 class="title-style-1"><span class="title-under"></span></h3>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Mbele Lebohang</h4>
      <h5>-COO- Asst. Director Development</h5>
      <p>Electrical and Computer Engineering at University of Cape Town.<br/></p>

      <h3 class="title-style-1"><span class="title-under"></span></h3>

      <ul>
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" ></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3>What Learners Says About Us!</h3>
    </div>
  </div>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 underline">
      <hr>
    </div>
  </div>
</div>

<div style="position: relative;">

  <div class="container">
    <div class="row learners">
      <div class="col-md-6">
        <div class="about1">
          <img class="pic1Ab" src="<%= image_url('profiles/female-profile-holder.jpg') %>">
          <h3>Lerato Mohautse, Tlotlisong Sec. School</h3>
          <p>If it hadn’t been for Paranormalminds, I wouldn’t have been able
            to apply to study at University of Cape Town...You’re a team full of smarts and hearts.
        </div>
      </div>

      <div class="col-md-6">
        <div class="about2">
          <img class="pic2Ab" src="<%= image_url('profiles/male-profile-holder.jpg') %>">
          <h3>Lehetla Lehetla, Marallaneng Sec. School</h3>
          <p>Paranormalminds is a reliable bungee that has helped me to take a plunge of higher education. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="horL"></div>

  <div class="container">
    <div class="row learners">
      <div class="col-md-6">
        <div class="about1">
          <img class="pic1Ab" src="<%= image_url('profiles/male-profile-holder.jpg') %>">
          <h3>Thapelo Rasemetse, Tlotlisong Sec. School</h3>
          <p>Becoming successful from an under privileged background is only half the story, Paranormalminds is the other half.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="about2">
          <img class="pic2Ab" src="<%= image_url('profiles/female-profile-holder.jpg') %>">
          <h3>Thakane Thabana, Marallaneng Sec. School</h3>
          <p>Paranormalminds has changed my life by giving me the information i wouldn't
            ordinarily be able to access easily.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3>Careers!</h3>
    </div>
  </div>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 underline">
      <hr>
    </div>
  </div>
</div>
<div class="row">
  <div class=" container careers">
    <p>We want to change the way learners think about education and learning.</p>
    <p>Visit our Careers page to view our open positions or to submit your CV for general consideration.</p>
    <a class="btn" title="Join the team" href="#">Join the team</a>
  </div>
</div>
